<!-- index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/styles.css">
  <title>Inicio de Sesi칩n</title>
</head>
<body>

  <div class="contenedor-Padre">
    <div class="img-Contenedor"></div>
    <div class="login-Contenedor">
      <h1>Inicia Sesi칩n Ahora</h1>
      <h2>Ingresa tus credenciales y Comienza a trabajar</h2>
      <span class="span-1-login">Correo Electr칩nico</span>
      <span class="span-2-login">Ingrese su Contrase침a</span>
      <form id="loginForm" action="/manejarDatosFormulario" method="POST">
        <div class="user-Div">
          <input type="text" id="usuarioInput" name="usuario" autocomplete="off">
        </div>
        <div class="password-Div">
          <input type="password" id="contrasenaInput" name="contrasena">
        </div>
        <input type="submit" value="Entrar">
      </form>
    </div>
      </div>
    </body>
    </html>
    