@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --claro-theme: white;
  --oscuro-theme: #303030;
  --btn-color: #427CED;
  --border-inputs: #9F9F9F;
  --text-white: white;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.contenedor-Padre {
  width: 100%;
  height: 100vh;
  display: flex;
}

.img-Contenedor {
  width: 50%;
  height: 100%;
  background-image: url(../assets/imgLogin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-Contenedor {
  display: flex;
  flex-direction: column;
  background-color: var(--oscuro-theme);
  width: 50%;
  height: 100%;
}

.login-Contenedor>span,h1,h2 {
  color: var(--text-white);
  position: relative;
  left: 100px;
  width: 450px;
}

.login-Contenedor>h1 {
  margin-top: 50px;
  font-size: 2.5rem;
}

.login-Contenedor>h2 {
  font-size: 1.1rem;
  position: relative;
  top: 10px;
}


.span-1-login {
  position: relative;
  top: 100px;
}

.span-2-login {
  position: relative;
  top: 200px;
}

form {
  position: relative;
  top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.user-Div {
  width: 90%;
}

.user-Div>input,span {
  position: relative;
  left: 100px;
  outline: none;
}

.user-Div>input {
  position: relative;
  left: 100px;
  outline: none;
  padding: 1rem;
  width: 360px;
  background-color: transparent;
  border: solid 2px var(--border-inputs);
  border-radius: 5px;
  color: var(--text-white);
  font-size: 1.1rem;
}

.password-Div {
  margin-top: 50px;
  width: 90%;
}

.password-Div>input {
  position: relative;
  left: 100px;
  outline: none;
  padding: 1rem;
  width: 360px;
  background-color: transparent;
  border: solid 2px var(--border-inputs);
  border-radius: 5px;
  color: var(--text-white);
  font-size: 1.1rem;
}

input[type="submit"] {
  position: relative;
  left: 100px;
  border: none;
  background-color: var(--btn-color);
  color: var(--text-white);
  padding: 1rem;
  width: 400px;
  border-radius: 5px;
  font-size: 18px;
  position: relative;
  top: 60px;
}

#checkIcon {
  display: none;
  color: rgb(126, 219, 126);
  margin-left: 5px;
  font-size: 20px;
}

.nav-inicio {
  width: 100%;
  height: auto;
  background-color: #162d5a;
}

.enlace-1-inicio {
  width: 90px;
  height: auto;
  margin-left: 20px;
}

.enlace-2-inicio {
  width: 90px;
  height: auto;
  margin-left: 20px;
}

.enlace-3-inicio {
  width: 90px;
  height: auto;
  margin-left: 20px;
}

.enlace-5-inicio {
  width: 110px;
  height: auto;
  margin-left: 20px;
}

.lista-1-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lista-1-inicio>span {
  color: var(--text-white);
}

.lista-2-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lista-2-inicio>span {
  color: var(--text-white);
}

.lista-3-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lista-3-inicio>span {
  color: var(--text-white);
}

.lista-4-inicio>span {
  font-size: 28px;
  color: var(--text-white);
}

.lista-4-inicio {
  width: 650px;
  display: flex;
  justify-content: center;
}

.lista-5-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 328px;
  width: 120px;
}

.lista-5-inicio>span {
  color: var(--text-white);
}

 .nav-inicio>ul {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  list-style: none;
}

.nav-inicio>ul>a>li>span {
  position: relative;
  left: 0px;
}

.nav-inicio>ul>a {
  cursor: pointer;
  text-decoration: none;
}

ion-icon {
  color: var(--text-white);
  font-size: 40px;
}

.nav-inicio>ul>li>span {
  color: white;
}

.inicio-data-fichas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio-data-fichas>div {
  margin-top: 40px;
  width: 95%;
  height: 100%;
}

.subirExcelCheckbox {
  width: 20px;
  height: 20px;
}

/* styles.css */
.loader-container {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #162d5a;/* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Z-index alto para que esté por encima de otros elementos */
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
}

/* Animación de desvanecimiento */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loading-cloud {
  color: white;
}

/* styles.css o tu archivo de estilos existente */

/* Estilo para la ventana emergente */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
}

.popup-content>p {
  color: black;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.agregar_fichas_db {
  position: relative;
  top: 0px;
  left: 100px;
  width: 90%;
  height: 80vh;
}

.agregar_fichas_db>h2 {
  color: black;
  position: relative;
  left: 80px;
}

.agregar_fichas_db>input {
  width: 500px;
  padding: 10px;
}

.input-1-fichas {
  position: relative;
  top: 40px;
  left: 80px;
}

.input-2-fichas {
  position: relative;
  bottom: 40px;
  left: 750px;
}

.input-3-fichas {
  position: relative;
  top: 0px;
  left: 80px;
}

.input-4-fichas {
  position: relative;
  bottom: 80px;
  left: 750px;
}

.input-5-fichas {
  position: relative;
  bottom: 40px;
  left: 80px;
}

.input-6-fichas {
  position: relative;
  bottom: 120px;
  left: 750px;
}
.input-7-fichas {
  position: relative;
  bottom: 80px;
  left: 80px;
  width: 500px;
  padding: 10px;
}
.input-8-fichas {
  position: relative;
  bottom: 40px;
  left: 80px;
  padding: 10px;
  background-color: #162d5a;
  color: white;
  border: none;
  width: 1180px;
}

.label-1-fichas {
  position: relative;
  top: 40px;
  left: 80px;
}

.label-2-fichas {
  position: relative;
  bottom: 40px;
  left: 750px;
}

.label-3-fichas {
  position: relative;
  top: 0px;
  left: 80px;
}

.label-4-fichas {
  position: relative;
  bottom: 80px;
  left: 750px;
}

.label-5-fichas {
  position: relative;
  bottom: 40px;
  left: 80px;
}

.label-6-fichas {
  position: relative;
  bottom: 120px;
  left: 750px;
}
.label-7-fichas {
  position: relative;
  bottom: 80px;
  left: 80px;
}

label {
  width: 250px;
}